[2016-02-16 16:24] simondlr opened #7 "Add throw on fallback function to StandardToken.sol?"
@alexvandesande standard token has the fallback function implement a throw(), implying that whenever Ether is sent to it, it automatically reverts. This causes the possibility for Ether to get locked up in the contract to not happen.

See here: https://gist.github.com/alexvandesande/0d1a998d949e26942212

Question: Should this be in this repo's current standard token code? Only reason why I feel th

[2016-02-16 17:31] MrChico commented on #7
I also think it would be a good idea to have it by default, because I can see how users might mix things up and accidentally send a transaction with a value instead of calling the transfer.
So best case scenario it saves somebody's day, worst case it adds a minuscule gas cost to the contract

[2016-02-16 19:45] ethers commented on #7
Good to add throw on fallback function.  (Seems maybe Solidity should have this as a default and contracts can override: those that explicitly want Ether and have ways so that the Ether isn't locked up).

[2016-02-17 12:35] alexvandesande commented on #7
It's a very important security measure in my opinion. You can always override it with something else, e.g. forward any ether sent to it to another address.

[2016-02-17 12:50] simondlr commented on #7
Yeah. Agreed. I've started adding it, but ran into problems with the test. Should have it done soon. :)

[2016-02-17 17:44] simondlr commented on #7
Added in. Wanted to do a more proper test, but estimateGas wasn't behaving like I thought it would (it would be nice if it gave gas costs in the event of exceptions).

[2016-02-17 17:44] #7 closed

[2016-02-24 13:15] simondlr opened #8 "Token.sol is not abstract"
Slight oversight. Token.sol should be abstract to enforce implementation of the standard. ht @HCharlanes

[2016-03-21 11:04] simondlr opened #9 "Make MIT explicit"

[2016-03-28 07:01] kumavis opened #10 "Standard_Token total supply"
Standard_Token declares `totalSupply` var but does not implement `totalSupply()`

not sure if this is intentional or not

[2016-03-28 08:23] simondlr commented on #10
It's a public variable, so a getter function is automatically created for it. One could technically collapse balanceOf & allowance into only public variables as well (without creating a separate function as it is now).

[2016-03-28 14:06] MrChico commented on #10
I am for making balanceOf & allowance into public mappings instead. Also, I would declare the variables at the top of the contract, but that is just my preference.

[2016-03-28 14:08] simondlr commented on #10
@MrChico I wonder if there is any extra gas overhead to doing either. Will run some experiments. :)

[2016-03-29 05:15] kumavis commented on #10
Thanks

[2016-03-29 05:15] #10 closed

[2016-05-17 10:12] simondlr commented on #8
Not going to add this now, since in some circumstances, some people do NOT implement all the functions as is.

[2016-05-17 10:12] #8 closed

[2016-06-09 21:27] #9 closed

[2016-06-22 18:12] simondlr opened #13 "approveAndCall should throw if error"

[2016-06-23 10:41] ethers opened #15 "Need tests for events"

[2016-06-23 10:51] ethers opened #16 "Debug and enable factory test"
https://github.com/ConsenSys/Tokens/blob/master/Token_Contracts/test/humanStandardTokenFactory.js#L1

[2016-06-23 11:22] simondlr commented on #16
This has been fixed in the current pull request.

[2016-06-23 21:29] ethers commented on #16
Potentially in a separate PR, a negative test for the factory would also be helpful.  To consider, how would an attacker try to exploit the factory...

[2016-06-23 21:32] ethers opened #17 "Positive tests should only call done() once"
Most tests shouldn't call `.catch(done)` as the `done` should be called after the test case performs its assertions.

[2016-06-25 12:06] simondlr commented on #16
Cool. Yeah. Would need to think about that. Do you want to create a separate issue for that? Going to close this one for now.

[2016-06-25 12:06] #16 closed

[2016-06-25 12:07] simondlr commented on #13
Fixed.

[2016-06-25 12:07] #13 closed

[2016-06-27 08:19] ethers opened #18 "Negative test for humanStandardTokenFactory"
Separate issue identified from #16

To consider, how would an attacker try to exploit the factory...

[2016-06-27 09:55] simondlr commented on #18
I haven't found any issue with it fwiw.

It uses Contract external calls, so it will rethrow if there's an exception. Code can re-enter, but it is pointless as they will just be creating new token contracts where they are the issuer.

createdByMe can be increased ad inifitum, but there's no gas limit attack possible.

[2016-07-26 09:10] ethers opened #22 "noEther modifier"
// Prevents methods from perfoming any value transfer
        modifier noEther() {if (msg.value > 0) throw; _}

Should we add this to all the methods?

[2016-07-27 12:59] simondlr commented on #22
I suspect for HumanStandardToken implementation, it would be useful, since there's no way to resend the eth out in there. However, for StandardToken, it could changed/implemented for functions to include eth.

eg, if you want to transfer tokens you have to send a special tx fee of an additional 1 eth.

but, yes. Would be useful to add in the HumanStandardToken.sol

[2016-10-05 21:01] flyswatter opened #30 "Checking balance should not require hex prefix"
Right now entering a non-hex-prefixed address into the `check balance` field will silently fail to the user.

It would be easy enough to call `ethUtil.addHexPrefix(userInput)`, so I think that would be better.

[2016-10-06 08:48] simondlr commented on #30
This is related to the Token Factory, right? I'll move the issue to that repo. Just want to confirm. :)

[2016-10-06 17:13] flyswatter commented on #30
Yes, sorry, I thought this was the tokenfactory repo.

- Dan

[2016-10-10 09:21] simondlr commented on #30
No worries! Added to Token Factory issues. Thanks!

[2016-10-10 09:21] #30 closed

[2016-10-14 01:03] flyswatter opened #31 "Are these importable by some means?"
Are these registered on a solidity package manager, like Dapple, to allow easy installing in a project?

I even think npm registration could work, if you clarified in the readme what importing entailed.

Any thoughts about ways these should be consumed?

[2016-10-14 09:11] simondlr commented on #31
Not yet. Just go ahead and copy/paste the token code you require. Anything that's not clear? Perhaps we can update the documentation to make it more clear. :)

[2016-11-09 12:01] ramvi opened #33 "Newer solc versions return error when compiling the Factory contract"
[code]

[2016-11-09 13:20] simondlr commented on #33
Thanks @ramvi. We will look into this.

[2016-11-14 18:52] bingo123 opened #34 "Transaction fail"
I try to implement HumanStandardToken.sol on the develoment environment of an ethereum - wallet and i get: It seems this transaction will fail. If you submit it will consume all the gas you sent.

![unbenannt 2jpg](https://cloud.githubusercontent.com/assets/6627278/20278155/e1c6f8a0-aaa3-11e6-8315-937c4e9f1127.JPG)

[code.txt](https://github.com/ConsenSys/Tokens/files/590198/code.txt)

[2016-11-15 12:06] simondlr commented on #34
Hi. Is there any other information you can share? What version of Mist are you using? What's the error results? Can you potentially deploy to Morden and get the tx hash so that one can see the result on etherscan?

[2016-11-15 13:44] bingo123 commented on #34
Hi i am using Ethereum Wallet o.7.8. and i have a parity im geth Mode underneath syncing. I will try to do deploy to Morden and let you know the tx Hash.

[2016-11-22 12:30] Georgi87 opened #35 "Why is approve returning bool?"
The approve function can only return true, why does it return anything?
[code]
I would propose to change it to:
[code]

[2016-11-22 15:22] simondlr commented on #35
approve() in ERC20 requires returning a bool.

In this implementation, it's just always true.

[2016-11-23 00:43] ethers commented on #35
Yes, ERC20 is just an interface.
There could be an ERC20 token that for example, forbids approval for certain addresses, such as the 0 address.

[2016-11-23 08:36] Georgi87 commented on #35
Ok, thanks for explaining. Closing this :)

[2016-11-23 08:36] #35 closed

[2016-11-30 09:40] ramvi commented on #33
@gleim has [updated the code to work with newer versions](https://github.com/gleim/Tokens)

[2016-11-30 09:42] simondlr commented on #33
It turns out the inline assembly warning was due to a bug in the solidity compiler that was fixed with 0.4.5. Does this fix your compilation issues?

[2016-11-30 10:06] ramvi commented on #33
Yup!

[2016-11-30 10:06] #33 closed

[2016-12-15 16:30] Canalytic opened #38 "Interact with Token on localhost using testrpc, Metamask, and truffle"
I've been using truffle to deploy contracts via a localhost, and using metamask to interact with the dapp.  I am wondering if I can load that contract for this token into tokenfactory?  When I access the tokenfactory website I can't use it unless I have metamask installed.  So, Im just assuming that if I have metamask connected to a private network then any way I interact with token factory will a

[2016-12-15 16:44] simondlr commented on #38
If you are connected to testrpc from Metamask, the token deployed through truffle, you should be able to interact with, through Token Factory.

However, metacoin.sol in the Truffle example is not ERC20-compliant and won't work in Token Factory. cc @tcoulter.

[2017-01-05 08:50] simondlr commented on #38
Hey @Canalytic! iirc, your issue was that metacoin wasn't compliant with ERC20. Can I close this? :)

[2017-01-24 17:43] Canalytic commented on #38
Yes, please

[2017-01-24 17:43] #38 closed

[2017-02-13 12:57] simondlr commented on #31
It's now on ethpm. v0.0.2 coming soon with 0.4.8 Solidity support. :)

Published under 'tokens'.

[2017-02-13 12:57] #31 closed

[2017-03-20 06:36] varunagarwal315 opened #43 "Privacy related query"
Hi, this is probably the wrong place to ask a query but I couldn't find a better option.

In the **About** section, it is mentioned that uPort identity is stored as a JSON structure (IPFS)  and a hash of that on the blockchain. Isn't is possible for someone to simply query the smart contracts and get the list of hash available and open them on ipfs to extract customer data by going through non-emp

[2017-03-20 06:37] #43 closed

[2017-03-22 13:30] dmichael opened #44 "Error installing from ethpm"
When installing these tokens from the ethpm registry, there is an error. However, a few of the contracts do get installed. `HumanStandardToken.sol`, `StandardToken.sol`, and `Token.sol` are installed even with the error. These contracts do not match the `ethpm.json` manifest.

[code]

[2017-04-29 15:28] nmushegian opened #47 "Make 0-valued transfers valid semantics (fire the event and return true)"
EDIT:  Replace "revert" with "returned false" in this issue; I realized StandardToken does not throw on error but then realized the issue is practically the same and still just as harmful

Reverting on 0-valued transfer and approval is an anti-pattern that pops up repeatedly in code reviews. I realized it's because many people are copying your StandardToken.

These two lines should have `&& _value

[2017-05-01 10:28] simondlr commented on #47
Thanks for the issue @nmushegian. I'm trying to think of examples where you would want a no-op and have zero transfers?

Can you elaborate more? Are there specific cases where zero transfers are issued (purposefully or accidentally) and what the issue of reverting is causing?

[2017-05-01 14:49] nmushegian commented on #47
Here's a contrived example:
[code]
This is a simple case, I'm more wary of transfers where the result is the result of computations the dev thinks shouldn't/can't be 0 but actually can be made to get stuck at 0

Another way to look at it, would you agree that`Transfer(0)` event is more likely to represent actual intent than say, `Transfer(uint256(-1))` ? Why not block `uint256(-1)`?

[2017-05-01 14:53] nmushegian commented on #47
Also the first time an ethereum user has to approve token transfers for a token they don't actually need to use they will quite ethereum forever

"Does this cost tokens to use?"

"No"

"Why do I need to call approve on this contract"

"It's a weird edge case, trust me"

"Ok... `approve(0)`.... My transaction ran out of gas?"

"Oh you have to approve it with more than 0, try `approve(1)`"

"Are you

[2017-05-01 14:55] nmushegian commented on #47
OMG I just realized that your tokens don't throw on failure at all

Please ignore this issue!

[2017-05-01 14:58] nmushegian commented on #47
Actually I'm going to reopen this just to discuss the above but specifically for whether the events should still fire

I have to say I strongly prefer throw-oriented error handling, but given the choice of return-oriented errors, the value>0 check could be reasonable, if you explicitly choose not to fire Transfer on 0 and so on

[2017-05-04 00:22] ethers commented on #47
The code is currently not firing Transfer on 0...
Maybe rename the title of this issue and we'll see what other comments are made.

[2017-05-04 19:04] nmushegian commented on #47
I'm realizing now that the return value is nearly as critical as the reversion issue. I've updated title/OP for clarity, but now want to discuss Transfer and return.

Yes I know, I think this is bad, and I think returning false is bad. I think my original point is nearly 100% valid still because I expect the most common pattern people will try to use is `assert( transfer(...) )`, which should work

[2017-05-04 19:26] nmushegian commented on #47
Claim: This is very dangerous and is only 1 level of indirection above the standard; think of all the constraints imposed on all control contracts that might ever want to own this

[code]

[2017-05-05 10:01] simondlr commented on #47
I'm trying to figure out why in some circumstances you are allowing code to get to the point where it is transferring zero. It's a completely useless event.

For example, here:

[code]

Why not include a check to not transfer zero when the fees get to zero?

Like, I'm trying to figure out whose responsibility it is.

I think the one thing that helps, is that if the standard is that you are allowed

[2017-05-05 15:05] nmushegian commented on #47
The event is not very significant, the semantics of success and failure are, which in this standard is whether it returns true or false. Throw vs return and the event discussion were both tangents I shouldn't have gone on.

Usually nobody because it's usually intended semantics. And also when higher-level operations on your dapps manipulate tokens internally, arguments which cause one or more inte

[2017-05-05 15:20] dbrock commented on #47
I agree with @nmushegian that having these kinds of arbitrary tripwires in a contract is intrinsically dangerous.

The burden of proof is on whoever wants to have these to explain the rationale for them. I can't see any benefit whatsoever and multiple drawbacks: added gas cost... possibility of funds getting stuck in unknown horrible ways... and maybe most obnoxiously, the fact that now everybody

[2017-05-05 15:58] simondlr commented on #47
That I don't get? It literally does nothing. What does it help? Shouldn't the burden be to NOT run code that does nothing?

I don't get the point/argument here?

It has a good justification. Why should the user pay gas costs for something that does nothing?

I still don't understand what apps are doing zero transfers? Why is it designed to do this?

I feel like there's context here that's missing?

[2017-05-05 16:09] mbrock commented on #47
I also agree that it's more parsimonious to have 0-valued transfers be harmless no-ops rather than failures.

It's kind of like how `append(x, [])` is a harmless no-op rather than something which causes an `EmptyAppendException`.

From an algebraic perspective, zero being the identity for additive operations is an ancient and fundamental meme; returning an error on "addition by zero" is surprising

[2017-05-05 16:10] nmushegian commented on #47
No, it's less work.

0 is a natural number. uint is not a type approximating positive integers, it is a type approximating natural numbers. Without 0 there is no additive identity. The alarm bell is so loud it hurts. I'm honestly out of explanations, I just need to invent an example that is (1) not too "obvious" to be dismissed, (2) something you think is a good design pattern, and (3) accidentall

[2017-05-05 16:18] dbrock commented on #47
Which is harmless.

Which it should.

Which you are doing anyway.

Not only are you still incurring gas costs even in the unlikely and exceptional case of a user accidentally transferring zero, but more importantly the check *adds unnecessary gas costs to every single normal token transfer that anyone will ever do.*

So you're trying (and failing) to optimize for a pathological case happening 0.00

[2017-05-08 10:17] mattvick opened #48 "The contract deployment failed: Contract not deployed, getCode returned 0x"
Deploying the HumanStandardTokenFactory contract fails with the error `Contract not deployed, getCode returned 0x`.

![screen shot 2017-05-08 at 11 15 42 am](https://cloud.githubusercontent.com/assets/651430/25800097/2e5edbce-33e8-11e7-93f8-d80703c757dc.png)

Deploying to the Kovan network using Parity

[2017-05-08 11:01] mattvick commented on #48
I've "fixed" this by removing the verification parts of the code:
https://github.com/mattvick/Tokens/commit/3122b61ec7302d19ad2ff32a907f8b7dd810116e

I've also added a `ContractInstantiation` event:
https://github.com/mattvick/Tokens/commit/42ec083c03f39dafc72203088b275e1336cf957f

[2017-05-09 04:33] ethers commented on #22
No longer needed since `payable` is required by Solidity.

[2017-05-09 04:33] #22 closed

[2017-05-09 04:37] ethers commented on #48
Hi, did you try passing more gas?  The factory may need more gas (but I don't know why).

[2017-05-09 04:49] ethers commented on #47
Perhaps ERC-20 should be more explicit about the behavior of `transfer` and this discussion temporarily moved there https://github.com/ethereum/EIPs/pull/610

Note https://github.com/ethereum/EIPs/pull/610/files#diff-04cb92b536599f96697d5066f4c1bbb1R32

[2017-05-09 21:58] nmushegian commented on #47
https://s-media-cache-ak0.pinimg.com/736x/fa/18/02/fa18027a74a6f573cf2e1463c1c139b6.jpg

[2017-05-10 14:23] simondlr commented on #47
Great points and well put @mbrock. Agreed.

Thanks for the comments/discussions.

Will change/fix soon.

[2017-05-25 15:40] ChenhaoXu304 opened #50 "Truffle migration failed"
When running "truffle migrate", the following error is returned:
"Error: Could not find built Migrations contract: Could not find artifacts for ./Migrations.sol from any sources."

I cloned from this repository and built with "npm install". Did I miss any steps in building?

Truffle version: 3.2.4
OS: Windows 10

[2017-05-28 18:44] simondlr commented on #50
Ah yes. @ChenhaoXu304, Migrations aren't in this installation. We haven't used the contract to directly deploy it from this Truffle repo. It's recommended that you pull the contracts into your own projects and build your migrations from there (if it makes sense).

[2017-06-03 22:30] stefek99 opened #51 "Many similarities with official Ethereum website - which one to choose?"
Your contract: https://github.com/ConsenSys/Tokens/tree/master/Token_Contracts/contracts

Contract on Ethereum website: https://www.ethereum.org/token

Both are implementing ERC20 interface, I was just wondering maybe it's a good idea to have all different implementations in a single place for completeness...

[2017-06-16 05:00] Cristyander opened #52 "Swap token by ether to pay transaction"
How to automatically exchange token for ether stored in the contract to pay the transaction fee of tokens between users of my token?

[2017-07-10 13:12] Cristyander opened #53 "error not file found import "./StandardToken.sol";"
What folder do I put the Standard Token.sol file to import by the solidity code in the ethereum wallet?

[2017-07-17 09:26] stefek99 commented on #51
Also here - many "industry standard" contracts: https://github.com/OpenZeppelin/zeppelin-solidity/tree/master/contracts

[2017-07-19 10:12] simondlr commented on #53
If you want to import this into the Ethereum Wallet (Mist) and deploy it from there, you'll have to copy all of the code without the imports in them. It is then one big piece of code. No imports. :)

[2017-07-19 10:12] #53 closed

[2017-07-19 10:13] simondlr commented on #47
Soon (tm). It's coming. ;)

[2017-07-19 10:15] simondlr commented on #52
A contract can't pay for gas with its own ETH yet. This will be possible in Metropolis HF2 coming in the next few months. Best to ask on the stack exchange for more info.

[2017-07-19 10:15] #52 closed

[2017-07-19 10:16] simondlr commented on #51
There are various implementations indeed. Zeppelin and Mini-me are excellent, well-tested alternatives.

[2017-07-19 10:16] #51 closed

[2017-07-19 10:16] simondlr commented on #50
This was fixed in a recent PR. Thanks for brining it up.

[2017-07-19 10:16] #50 closed

[2017-07-19 10:17] simondlr commented on #44
Hey @skmgoldin. Any thoughts there? ^^

[2017-07-19 10:17] simondlr commented on #34
If there was still an issue, let us know.

[2017-07-19 10:17] #34 closed

[2017-07-19 10:18] simondlr commented on #17
This was fixed.

[2017-07-19 10:18] #17 closed

[2017-07-19 16:41] skmgoldin opened #57 "codeAt in HumanStandardTokenFactory.sol does not work"
This is the function:
[code]
Its test fails. ~~I think I have an idea as to why.~~

~~Lets enumerate the magic numbers in the line `mstore(0x40, add(o_code, and(add(add(size, 0x20), 0x1f), not(0x1f))))`~~

~~`0x40` is the location of the free memory pointer.~~
~~`0x20` is 32 bytes, which we want to leave free at the beginning of `o_code` so we can store the buffer size in it (`mstore(o_code, size)

[2017-07-19 18:17] skmgoldin commented on #57
This whole theory is wrong. See: https://consensys.slack.com/archives/C03DVPNTT/p1500487032466679

[2017-07-19 19:50] skmgoldin commented on #57
This is still a bug though! For whatever it's worth, if somebody else's eyes see something, calling the getter for humanStandardByteCode returns undefined. Writing a custom getter to get the length also returns undefined (in JavaScript world).

[2017-07-19 20:15] simondlr commented on #57
That's odd. It definitely worked when I tested it originally. Will retest.

[2017-07-19 20:19] skmgoldin commented on #44
The tokens repo disappeared for a long time to due to IPFS and Ropsten problems. It's back now: https://github.com/trufflesuite/truffle/issues/378

[2017-07-19 20:19] #44 closed

[2017-07-19 20:23] skmgoldin commented on #18
I'm going to mark everything but createHumanStandardToken as `constant`. It should be pretty clear then that there's no attack.

[2017-07-19 21:50] skmgoldin commented on #57
Addressed in #58.

[2017-07-19 21:50] #57 closed

[2017-07-19 21:52] #48 closed

[2017-07-19 22:14] stefek99 commented on #51
@simondlr thank you for suggestion.

I've actually posted question here: https://ethereum.stackexchange.com/questions/21548/where-to-find-ico-contract-with-linear-logarithmic-decrease

(maybe you'll know)

[2017-07-20 13:41] #47 closed

[2017-07-24 10:09] simondlr opened #61 "Throw on failed transfer?"
Hey @skmgoldin. Seems like consensus is that we should throw when not having enough balance (vs return false).

https://github.com/ethereum/EIPs/pull/610/files

Never fully liked this. It's a trade-off in its own right, but if the community is moving to this, do we want to change to this?

[2017-07-25 00:41] #15 closed

[2017-07-25 00:43] skmgoldin commented on #61
I think it's a great idea if by `throw` they mean `revert`. Those will be catchable errors in Metro. I think they must mean this, let me ask in the EIP.

[2017-07-27 00:22] skmgoldin commented on #61
I think they must mean `revert` because `throw` is actually deprecated in Solidity now.

[2017-07-27 07:58] simondlr commented on #61
Yes, I assume it's revert as well.

[2017-07-27 13:05] skmgoldin commented on #61
I'll work on a PR.

[2017-07-29 02:28] #18 closed

[2017-08-07 13:38] #61 closed

[2017-08-07 14:31] maurelian opened #64 "Update test suite to async/await"
Async await syntax is much more readable, which is useful for reviewability.

[2017-08-07 14:55] skmgoldin commented on #64
Anyone want to take this on?

[2017-08-07 15:42] maurelian commented on #64
yeah, I'm interested in doing this. Please assign it to me @skmgoldin

I think I can fit it in during my morning pre-work "learning" slot.  If not, I'll update here.

[2017-08-14 12:38] Remi-Tuy opened #69 "Over Gas Limit"
I have been trying to execute the HumanStandardTokenFactory using Remix & MetaMask on a custom chain.

I keep getting the following message:
`callback contain no result Gas required exceeds block gas limit: 800000000`

![capture](https://user-images.githubusercontent.com/30529561/29272263-2bf14bc2-80f7-11e7-9e95-44ba5b9fadf4.PNG)

It does say in the comments of the contract that the function  'ver

[2017-08-14 12:48] Remi-Tuy commented on #69
Updated my issue with a exemple

[2017-08-14 13:04] simondlr commented on #69
Still not sure what's the issue unless the code deployment is actually >4.7m gas. If you run tests with gasLimit on testrpc set at 4.7m gas that might help understand. Tests are passing.

[2017-08-15 13:22] Janaka-Steph commented on #64
Hello @skmgoldin @maurelian

I agree async/await is much more readable, I rewrote them so here is a PR https://github.com/ConsenSys/Tokens/pull/70

[2017-08-15 14:20] skmgoldin commented on #64
Thanks @Janaka-Steph, I'll review.

[2017-08-21 21:14] pdxwebdev opened #72 "Tests not passing"
I'm trying to learn how to create an alt-coin with your repo but the tests don't pass. Can you please help me out. Perhaps I'm doing something incorrectly.

[code]

[2017-08-23 03:57] pdxwebdev commented on #72
Nevermind, I didn't have 2 accounts setup.

[2017-08-23 03:57] #72 closed

[2017-09-01 14:03] maurelian opened #73 "eslint config?"
@skmgoldin I see you [added some eslint plugins](https://github.com/ConsenSys/Tokens/blame/07d2590e43e1514ccd428bfe5b37ef4537bde02a/package.json#L33-L36). Do you have a config file for it?

Should we add eslint as a dependency as well, or is best practice to run a global install?

[2017-09-01 15:05] maurelian opened #74 "Review and clean up code comments"
For example, what does this mean?

https://github.com/ConsenSys/Tokens/pull/71/files#diff-d44cc2e3f0ad5591d79d9df53837e60fR37

[2017-09-01 16:34] maurelian opened #75 "Factory tests are wrong"
When I changed `newTokenAddr` to `0x0002`, the test still passed.

These tests should be broken up, and also test for invalid verifications.

Also, the actual tests are not as thorough as the description.

[2017-09-01 19:38] maurelian commented on #64
Under review and editing at #71

[2017-09-01 19:52] maurelian opened #76 "enable testing of a token at any address"
I'd like to be able to run these tests to assess ERC20 compliance at an arbitrary address. Mainly that means a test suite that doesn't necessarily generate a new contract. Some custom npm commands would be nice too.

[2017-09-01 20:44] skmgoldin commented on #73
Good catch we should install `eslint` itself in the devDependencies. I'll look into this.

[2017-09-01 20:47] skmgoldin commented on #74
I agree this repo may actually be _over_commented in some areas.

[2017-09-01 20:58] maurelian commented on #74
Definitely. As I look through it, this repo feels like it's by ConsenSys devs, for ConsenSys devs. There's a lot of low hanging fruit for making this more reusable.

[2017-09-06 13:10] Janaka-Steph commented on #64
@maurelian I noticed that you reverted my commit b143e19, even when my work have been merged. Can you explain me why?

[2017-09-19 18:52] maurelian commented on #73
Looks like it may have been eslint's standard rules: https://github.com/ConsenSys/Tokens/blame/59e92af4a290e0d7945084e78daa4a57cecffe9b/package.json#L36

[2017-09-19 18:52] maurelian commented on #64
completed by #71

[2017-09-19 18:52] #64 closed

[2017-10-02 12:23] maurelian commented on #75
This test is working. Unclear what I was talking about.

[2017-10-02 12:23] #75 closed

[2017-10-02 12:25] maurelian commented on #69
This issue is stale. Closing.

[2017-10-02 12:25] #69 closed

[2017-10-14 19:47] maurelian opened #84 "explicitly declare public visibility"
The compile is giving a lot of warnings.
Explicit is better than implicit.

[code]

[2017-10-27 20:19] maurelian opened #85 "Clean up compiler warnings"
More recent versions of solidity are issuing warnings about various deprecations.

These are not a safety concern, but it does look scary to new comers, so we should fix it.

[2017-10-30 21:21] maurelian commented on #85
Specifially, when running `solc ./contracts/*.sol` at version 0.4.17 or newer, you get this:
[code]

[2017-10-30 21:28] subramanianv commented on #85
@maurelian I would like to work on this

[2017-10-31 04:08] subramanianv commented on #85
Please review the PR. Thanks !

[2017-10-31 21:10] #85 closed

[2017-11-01 15:34] owocki commented on #85
@maurelian would you mind hitting the 'accept' button at https://gitcoin.co/funding/details?url=https://github.com/ConsenSys/Tokens/issues/85 to remit payment to @subramanianv ? thanks!

[2017-11-01 20:25] subramanianv commented on #84
Closed by #85

[2017-11-02 21:21] #84 closed

[2017-11-04 01:11] maurelian commented on #85
got it

[2017-11-05 05:40] kfichter opened #88 "Clean up JS tests"
I think the JS unit tests need to be cleaned up. I've been working on it a little bit, I'll submit a pull request if I get positive feedback. [Subsections](https://github.com/ConsenSys/Tokens/blob/master/test/humanStandardToken.js#L12) should probably be split by a `describe` clause. [Assertion style](https://github.com/ConsenSys/Tokens/blob/master/test/humanStandardToken.js#L33) should probably a

[2017-11-08 02:49] maurelian commented on #88
@kfichter yes agree, and this would be very much appreciated.

If you're going in there, I also very much dislike the pattern of initiating a new contract for each test.
In fact, I would like it if the test suite could be also be use to test a contract already deployed at any address with some small tweaks.

[2017-11-08 03:01] kfichter commented on #88
@maurelian awesome, I'll go ahead and clean some more things up and submit pull reqs when I'm done!

[2017-11-09 19:33] maurelian opened #89 "OOG on codeship test"
![image](https://user-images.githubusercontent.com/23033765/32625674-df9abdf0-c55a-11e7-8c7e-21c7b60759df.png)

I'm not sure how this is configured, but codeship's testrpc will need to increase the gas.

@skmgoldin Maybe it's time to get this moved to not your personal codeship account?

[2017-11-12 13:09] buhrmi opened #90 "Free-for-all deployed HumanStandardTokenFactory?"
Hello,

I wondered if there is a deployed version of the (current version of) HumanStandardTokenFactory that is already verified on etherscan and ready to use.

Cheers,
Stefan

[2017-11-13 17:45] kfichter commented on #89
Easiest fix for now would be to add `--gasLimit 6800000` as testrpc arguments

[2017-11-13 18:15] simondlr commented on #90
There is yeah, but I don’t recommend using it. TokenFactory needs to update its token code. It’s not broken, just not up to date with convention (eg, using require() for example). :)

[2017-11-14 04:44] buhrmi commented on #90
So what would need to change to get it into a "recommendable" state? :>

[2017-11-14 10:31] simondlr commented on #90
Basically, this needs to be redeployed -> https://github.com/ConsenSys/Tokens/blob/master/contracts/HumanStandardTokenFactory.sol

[2017-11-15 00:39] maurelian commented on #90
@simondlr so it can be redeployed as is? Is there a dapp, or address listing somewhere that would need updating?

[2017-11-15 01:10] buhrmi commented on #90
I'm not @simondlr but yeah you can just deploy it. But I'm wondering if it can be modified to use the [ERC223 token standard](https://github.com/Dexaran/ERC223-token-standard/tree/Recommended)

[2017-11-15 09:07] simondlr commented on #90
@maurelian the goal was to eventually move TokenFactory to use the on chain factory, but it's not atm. Just taking the local contracts and deploying them locally. Basically: if the network has a factory, use it. If not, use local files to deploy contracts.

Anyone is free to deploy a version of the factory.

@buhrmi

ERC223 is better discussed in the Tokens Repo, rather than in Token Factory, whic

[2017-11-21 01:06] #89 closed

[2017-11-21 01:06] #73 closed

[2017-11-27 08:08] manxiaqu opened #95 "Compiliation failed. Expected token LBrace got 'View'"
I got a problem(ParserError: Expected token LBrace got 'View') when compile the code(in HumanStandardTokenFactory.sol, StandardToken.sol, Token.sol) using "truffle compile" .

the output of error:
/home/ubuntu/git/Tokens/contracts/HumanStandardTokenFactory.sol:19:70: ParserError: Expected token LBrace got 'View'
    function verifyHumanStandardToken(address _tokenContract) public view returns (boo

[2017-11-28 03:05] maurelian commented on #95
yes, the `view` keyword is from a feature of Solidity 0.4.16, you'll need to upgrade truffle.

[2017-11-28 03:05] #95 closed

[2017-12-05 16:55] GNSPS opened #96 "Adding EIP 721 (aka Non-Fungible Tokens) to the repo"
We should add an EIP 721 NFT token representation to the repo.

Cc. @alex-miller-0

[2017-12-11 15:20] simondlr commented on #96
I'll take this on as we need this for Ujo.

[2017-12-13 15:54] maurelian opened #99 "Remove sample recipients"
Pretty sure they're no longer being used or needed.

[2017-12-13 15:57] maurelian opened #100 "Add linting"
Solhint and airbnb style

[2017-12-13 16:06] maurelian opened #101 "Clean up comments"
Code is over-commented. Especially remove things like "uncomment this code to get different behavior".

[2017-12-13 16:06] maurelian commented on #100
get some nifty badges

[2017-12-13 16:07] maurelian commented on #100
Be like Nick:

![image](https://user-images.githubusercontent.com/23033765/33948746-b48ea58a-dff5-11e7-8e5c-eb8716e43d9b.png)

[2017-12-13 16:07] skmgoldin opened #102 "Break tests up into per-function files"
I like to organize tests like this: https://github.com/ConsenSys/PLCRVoting/tree/master/test

That way you can implement coverage trackers and more easily audit whether particular functions are being adequately covered.

[2017-12-13 16:12] maurelian opened #103 "Install Solidity-Coverage"

[2017-12-13 20:18] manologr89 commented on #90
Hi, I've deployed a token using the contract deployed at 0xA7a677183373CA33a65f00084eB81747c8AE5F03, and I'd like to know what's the source code version of the resulting HumanStandardToken.sol. Trying to validate my token at etherscan but I can't manage to make the output bytecode match with the contract one.

I've tried commits earlier but close to 24 Jun 2016, the factory deploy date with no luc

[2017-12-14 16:30] romanjesus commented on #100
I tried claiming this and submitted the form on gitcoin. Any preferences on the linter?

[2017-12-14 16:31] romanjesus commented on #103
I'll tackle this along with #100

[2017-12-14 19:05] nemaniarjun commented on #100
Hey, I am a contributor to [coala](coala.io). Check it out if it can help you in linting. :)

[2017-12-14 21:05] Elaniobro commented on #100
@maurelian, I claimed this off gitcoin.co but I see @romanjesus note above. Lets sort this out before any work is done shall we?

[2017-12-14 22:35] owocki commented on #100
hey @romanjesus -- i'm trying to let the gitcoin.co web3 instance be the source of truth for who owns the issue.  sorry for the miscommunication but i think that the claim should go to @Elaniobro , this is something were actively trying to address via https://github.com/gitcoinco/web/pull/62

[2017-12-14 22:36] romanjesus commented on #100
No worries at all. That's fine, I didn't have metamask set up. Thanks!

Sent from my Pixel

On Dec 14, 2017 4:36 PM, "Kevin Owocki" <notifications@github.com> wrote:

[2017-12-14 22:44] owocki commented on #100
@romanjesus thanks for understanding.  heres a comment for figuring out metamask if you still want to give it a shot https://github.com/gitcoinco/gitcoinco/issues/4

[2017-12-14 22:44] owocki commented on #103
@romanjesus can you submit a claim via the blockchain?  more info at https://github.com/gitcoinco/gitcoinco/issues/4

[2017-12-14 22:54] owocki commented on #103
@romanjesus does the documentation i wrote up on https://github.com/gitcoinco/gitcoinco/issues/4 help?

[2017-12-15 18:28] Elaniobro commented on #100
@maurelian can you provide some more info about what type of linting you want?
* eslint
* stylelint
* etc..

Thanks!

[2017-12-16 19:10] Elaniobro commented on #100
@maurelian Wanted to give you an update, I submitted a PullRequest #104 this is working for me locally. As noted in the PR `To Do` still few more tweaks and we will be all set.

[2017-12-17 14:22] Elaniobro commented on #100
@maurelian I resolved the TODO's. Cheers!

[2017-12-20 10:52] owocki commented on #103
@romanjesus still interested?

[2017-12-20 12:32] owocki commented on #103
@stojce is interested in this

[2017-12-20 15:29] romanjesus commented on #103
@owocki thanks for writing that up. It did help! @stojce feel free to grab it, I didn't claim this issue on gitcoin and I probably won't be able to get to it soon!

[2017-12-20 16:13] maurelian commented on #90
@manologr89 try using solidity-flattener (npm package).

[2017-12-20 16:13] #90 closed

[2017-12-21 01:05] cgewecke commented on #103
@stojce @maurelian  Also looked at this and FWIW `solidity-coverage` seems to be taking too long to execute the code verification loop at [HumanStandardTokenFactory](https://github.com/ConsenSys/Tokens/blob/master/contracts/HumanStandardTokenFactory.sol#L27-L29). Coverage at the point of failure looks like this:

![screen shot 2017-12-20 at 4 39 13 pm](https://user-images.githubusercontent.com/733

[2017-12-21 15:35] maurelian commented on #103
Hmmm... is there anyway to exempt/ignore a contract from SC? That's a pretty ludicrous test, and IIRC it requires probably more gas than several blocks would allow.

[2017-12-21 21:06] cgewecke commented on #103
Yes you can exclude by using `skipFiles` option in the config:
[code]
You don't care about covering that code? One other thing: SC is on the Byzantium testrpc and there were a couple errors triggered by the change from `invalid opcode` to `revert`. Maybe the truffle version should be bumped to latest (so the rpcs match) and [this line](https://github.com/ConsenSys/Tokens/blob/master/test/utils.js#

[2017-12-22 14:37] maurelian commented on #103
Yeah... I don't think anyone is using that factory in practice, so for now I think that would be reasonable.

[2017-12-29 20:16] posix4e opened #107 "A dependency has fallen!"
This repo no longer exists
[code]
[code]

[2017-12-30 19:41] maurelian commented on #107
Whoops. BigNumber.js should be locked.

What branch are you on?

[2017-12-30 19:57] posix4e commented on #107
Master.
On Sat, Dec 30, 2017 at 11:41 AM Maurelian <notifications@github.com> wrote:

[2017-12-30 19:57] posix4e commented on #107
Locked to something which no longer exists to be exact
On Sat, Dec 30, 2017 at 11:57 AM Alex Newman <posix4e@gmail.com> wrote:

[2018-01-02 14:11] maurelian commented on #107
I'm unable replicate any issues. I've made a fresh clone, and ran npm install with no issues.

[code]

Could you attach the NPM logs? or if the issue isn't with `npm install`, provide instructions for replicating your issue?

[2018-01-02 16:26] owocki commented on #103
happy new year folks.  checking in here after the holiday... @cgewecke let me know if youre intersted in this bounty.  if not, im going to start tweeting about it to promote it being open

[2018-01-02 16:49] posix4e commented on #107
Sure but you’ll need to blow away your npm cache to replicate. I’ll try to
get you an error msg next week
On Tue, Jan 2, 2018 at 6:11 AM Maurelian <notifications@github.com> wrote:

[2018-01-02 18:43] cgewecke commented on #103
@owocki Ok I'll take it unless someone else already took it.

[2018-01-02 18:55] owocki commented on #103
coolio.  want to claim it on gitcoin?

[2018-01-02 19:03] cgewecke commented on #103
@owocki Yes! I do (very excited). However I'm looking at Gitcoin [issue 12](https://github.com/gitcoinco/gitcoinco/issues/12) which suggests that Gitcoin estimates the gas limit accurately, and Metamask is showing me:

![screen shot 2018-01-02 at 10 51 47 am](https://user-images.githubusercontent.com/7332026/34495714-435adb70-efab-11e7-926f-1c5ee4a49dfa.png)

[2018-01-02 19:33] oojr commented on #103
@owocki I thought I claimed this, went to gitcoin and it seemed unclaimed?

[2018-01-02 23:17] owocki commented on #103
@cgewecke thanks for the comments.  per the convo on gitcoin slack, this has been fixed

@oojr looks like its been claimed now per https://gitcoin.co/funding/details?url=https://github.com/ConsenSys/Tokens/issues/103

[2018-01-03 01:17] maurelian commented on #107
Thank you. I tried that, and got this notice:

[code]

So I ran:

[code]

But I blew it away anyways:

[code]

Then deleted the node_modules dir:

[code]

Then ran install without issue.

[2018-01-03 22:54] #107 closed

[2018-01-09 22:54] vs77bb commented on #103
Hi @oojr, I joined @owocki at Gitcoin last week. Checking in to see - are you running with this one?

[2018-01-09 23:41] oojr commented on #103
@vs77bb I have an initial pull request for this will commit soon 👍

[2018-01-10 16:14] vs77bb commented on #103
@oojr Sounds great!

[2018-01-17 02:14] vs77bb commented on #103
@oojr Any update on this one? cc @owocki

[2018-01-17 02:17] oojr commented on #103
@vs77bb @cgewecke I was able to get pass  HumanStandardTokenFactory executing, but I don't think I have the right soldity-coverage, truffle combination in terms of package versions, so the test don't pass when running coverage

[2018-01-17 04:27] cgewecke commented on #103
@oojr Yes - there's a resolution in [this comment](https://github.com/ConsenSys/Tokens/issues/103#issuecomment-353457798) above. The error checking needs to look for the word `revert` because `ganache-cli` returns a new message since the Byzantium fork.

[2018-01-26 08:41] oojr commented on #103
@vs77bb @cgewecke I think the test will have to be rewritten, solidity coverage is not compatible, I can add the package but it will have problems

[2018-02-20 02:16] navaid9 opened #113 "tokin"
reation of eip20Tokin errored: Error encoding arguments: SyntaxError: Unexpected string in JSON at position 7
creation of eip20Tokin errored: Error encoding arguments: SyntaxError: Unexpected string in JSON at position 7

[2018-02-20 17:40] #113 closed

[2018-02-21 19:38] IamLazyWolf opened #114 "Syntax Error: Unexpected token"
I have the following issue: creation of nameofmycoin errored: Error encoding arguments: SyntaxError: Unexpected token ' in JSON at position 11. Is there a way to fix it?

[2018-03-11 20:36] notACodeMonkey1 opened #119 "EIP20Factory.sol: function verifyEIP20 is broken"
`//verifies if a contract that has been deployed is a Human Standard Token.
    //NOTE: This is a very expensive function, and should only be used in an eth_call. ~800k gas
    function verifyEIP20(address _tokenContract) public view returns (bool) {
        bytes memory fetchedTokenByteCode = codeAt(_tokenContract);

        if (fetchedTokenByteCode.length != EIP20ByteCode.length) {
            r

[2018-03-13 03:22] owocki commented on #103
hi all.  i just killed [the bounty](https://gitcoin.co/funding/details?url=https://github.com/ConsenSys/Tokens/issues/103) for this issue for [some gitcoin-internal migration reasons](https://github.com/gitcoinco/web/pull/589) but wanted to let you know that, regardless of the issue description on gitcoin.co.. im good to pay out this bounty if/when the time is right.  just @ me back then if it get

[2018-03-13 16:11] maurelian commented on #103
Thanks @owocki, this will actually be resolved with this PR: https://github.com/ConsenSys/Tokens/pull/116

So, keep the bounty, don't spend it all in one place.

[2018-03-21 14:19] maurelian commented on #114
I get this error in remix when I wrap variable in `''` instead of `""`. I'm guessing it's similar to that.

[2018-03-21 14:19] #114 closed

[2018-03-21 14:20] #103 closed

[2018-03-21 14:21] maurelian commented on #101
This was done during the update to EIP20.

[2018-03-21 14:21] #101 closed

[2018-03-21 14:21] maurelian commented on #99
This is done.

[2018-03-21 14:21] #99 closed

[2018-03-21 14:21] #100 closed

[2018-03-21 14:22] #74 closed

[2018-03-21 14:22] #76 closed

[2018-03-21 14:22] #88 closed

[2018-03-22 15:15] skmgoldin commented on #119
Shoot. Thanks for the catch indeed.

[2018-03-22 20:21] #119 closed

[2018-03-28 14:09] maurelian opened #125 "Test the factory"
Things we need:

1. A contract of exactly the same length as the compiled EIP20 contracts and with a matching first byte, but non-matching trailing bytes.

2. A way to deploy that contract (theoretically easy, but if the test contract has to be hand built as bytecode, I think we’ll need to hack Truffle’s deployment pipeline a bit or otherwise do something non-standard to get it in the tests.)

[2018-04-08 00:46] ryodoo opened #127 "Token contract source code not verified"
Hi i have create my token with your code i have use
https://github.com/ConsenSys/Tokens/blob/master/contracts/eip20/EIP20.sol
end
https://github.com/ConsenSys/Tokens/blob/master/contracts/eip20/EIP20Interface.sol
i have create my token ETQ in https://remix.ethereum.org (Real not test )

Now i have to add link of my website and logo to do that i need to verify my source code

How i can do that ?

W

[2018-04-11 16:47] maurelian commented on #127
Hi there, source code verification with etherscan is a tricky thing. We're not the experts in it though, so we can't help you here.

Have a look at this help article of theirs: https://etherscancom.freshdesk.com/support/solutions/articles/35000022165-contract-verification-constructor-arguments

[2018-04-11 16:47] #127 closed

[2018-05-09 09:25] mahuaibo opened #131 "MAX_UINT256"
contract EIP20 is EIP20Interface {

    uint256 constant private MAX_UINT256 = 2**256 - 1;

    function transferFrom(address _from, address _to, uint256 _value) public returns (bool success) {
        uint256 allowance = allowed[_from][msg.sender];
        require(balances[_from] >= _value && allowance >= _value);
        balances[_to] += _value;
        balances[_from] -= _value;
        if (all

[2018-05-21 00:40] AdminTRTK commented on #127
Hi ryodoo, i saw your contract was Verifyed. How do u get it?

[2018-05-21 21:18] kangarang commented on #125
any insight/advice on how to obtain this?

[2018-05-23 02:06] maurelian commented on #125
Thinking it through, in the test suite, you can get the bytecode from the EIP20 artifact as a string.

Then you can do a simple string modification to change that bytecode slightly.  Then you can deploy is using `web3.eth.sendTransaction({data: modified_bytecode})`.

[2018-05-23 02:31] maurelian opened #133 "Conform to linting"
Staging build is failing.

https://app.codeship.com/projects/233433/builds/34503738?pipeline=5ce4005a-4131-429d-9abe-8e5e0fe43d4a

Currently failing due to linting issues.

![image](https://user-images.githubusercontent.com/23033765/40400394-e151af8e-5e0f-11e8-956c-96bebd9bc3d5.png)

[2018-05-23 02:35] maurelian commented on #131
Not sure what you mean by that.

However, based on the title, I think this discussion will provide the context you seek: https://github.com/ConsenSys/Tokens/pull/80

[2018-05-23 02:36] #131 closed

[2018-05-26 17:06] CryptoMan21 commented on #125
sorry that i ask, i am totaly new in coding and try to understand all this... i created a coin already with 5mio. of it.... how do i get the value of money inside..... do i need to send the ethereum directly on the contract adress?? i dont want to try it cause i fear that i lose it

[2018-05-29 14:59] maurelian commented on #125
@CryptoMan21 Sorry to hear you're having trouble, but this isn't really the proper forum for support, and I don't really understand what you're asking. Perhaps start at https://ethereum.stackexchange.com/, and a few other tutorials.

[2018-06-02 21:37] rvmvmvm opened #136 "Problem with a error and compiler version"
Does anybody know how to fix the following error?:
![captura](https://user-images.githubusercontent.com/39865867/40881071-eb32ba00-66bd-11e8-8743-027d1c768d75.PNG)

[2018-06-02 22:19] maurelian commented on #136
I think you might be using an older version of the compiler that doesn't understand the emit kw. Try using a newer version. You might need to update the other contracts to get them all to the same compiler version compatibility.

[2018-06-02 22:19] #136 closed

[2018-07-16 03:49] mahuaibo opened #137 "It is recommended to add a line of code."
constructor：function EIP20

add code: emit Transfer(address(0), msg.sender, totalSupply);

[2018-07-16 03:50] mahuaibo commented on #137
function EIP20(uint256 _initialAmount, string _tokenName, uint8 _decimalUnits, string _tokenSymbol ) public {
        balances[msg.sender] = _initialAmount;               // Give the creator all initial tokens
        emit Transfer(address(0), msg.sender, totalSupply);
        totalSupply = _initialAmount;                        // Update total supply
        name = _tokenName;

[2018-07-28 22:39] rbval opened #138 "Ropsten migration doesn't work out of the box"
Setting up my infura token and mnemonic, I get the following problem when running `truffle migrate --network ropsten` with the current setup:
[code]

Should the configuration have a default gas set so it works out of the box for Ropsten as well?

[2018-08-09 22:47] ryodoo commented on #127
You have to change the code i have use this code

`pragma solidity ^0.4.4;

contract Token {

    /// @return total amount of tokens
    function totalSupply() constant returns (uint256 supply) {}

    /// @param _owner The address from which the balance will be retrieved
    /// @return The balance
    function balanceOf(address _owner) constant returns (uint256 balance) {}

    /// @notice send

[2019-01-09 23:39] red111 commented on #125
Just curious but in your test file you have:

    // should approve max of msg.sender & withdraw 20 without changing allowance (should succeed).
    it('approvals: msg.sender approves accounts[1] of max (2^256 - 1) & withdraws 20', async () => {

Why this test should succeed? is not a bug that a token holder can withdraw without changing the allowance?

[2019-01-09 23:40] red111 opened #148 "Question about test file"
Just curious but in your test file you have:

    // should approve max of msg.sender & withdraw 20 without changing allowance (should succeed).
    it('approvals: msg.sender approves accounts[1] of max (2^256 - 1) & withdraws 20', async () => {

Why this test should succeed? is not a bug that a token holder can withdraw without changing the allowance?

[2019-08-17 07:34] HACKHNATON01 commented on #100
Effected im satoshinakamoto x8 Power realase all spam Owner

[2019-09-16 23:58] larrycameron80 opened #150 "Arbitrary Code Injection"
Arbitrary Code Injection
Vulnerable module: growl
Introduced through: truffle@4.1.5
Detailed paths
Introduced through: erc20-tokens@ConsenSys/Tokens#df959c7db75cc5fbb1591775353733958b3ceca1 › truffle@4.1.5 › mocha@3.5.3 › growl@1.9.2
Remediation: Upgrade to truffle@4.1.9.
Overview
growl is a package adding Growl support for Nodejs.

Affected versions of this package are vulnerable to Arbitrary Cod

[2019-09-16 23:59] larrycameron80 opened #151 "Regular Expression Denial of Service (ReDoS)"
Regular Expression Denial of Service (ReDoS)
Vulnerable module: diff
Introduced through: truffle@4.1.5
Detailed paths
Introduced through: erc20-tokens@ConsenSys/Tokens#df959c7db75cc5fbb1591775353733958b3ceca1 › truffle@4.1.5 › mocha@3.5.3 › diff@3.2.0
Remediation: Upgrade to truffle@5.0.24.
Overview
diff is a javascript text differencing implementation.

Affected versions of this package are vulne

[2019-09-16 23:59] larrycameron80 opened #152 "Insecure Credential Storage"
Insecure Credential Storage
Vulnerable module: web3
Introduced through: truffle-hdwallet-provider@0.0.3
Detailed paths
Introduced through: erc20-tokens@ConsenSys/Tokens#df959c7db75cc5fbb1591775353733958b3ceca1 › truffle-hdwallet-provider@0.0.3 › web3@0.18.4
Introduced through: erc20-tokens@ConsenSys/Tokens#df959c7db75cc5fbb1591775353733958b3ceca1 › truffle-hdwallet-provider@0.0.3 › web3-provider-e

[2019-09-16 23:59] larrycameron80 opened #153 "Regular Expression Denial of Service (ReDoS)"
Regular Expression Denial of Service (ReDoS)
Vulnerable module: debug
Introduced through: truffle@4.1.5
Detailed paths
Introduced through: erc20-tokens@ConsenSys/Tokens#df959c7db75cc5fbb1591775353733958b3ceca1 › truffle@4.1.5 › mocha@3.5.3 › debug@2.6.8
Remediation: Upgrade to truffle@4.1.9.
Overview
debug is a JavaScript debugging utility modelled after Node.js core's debugging technique..

debug

[2019-11-14 00:56] eekbatani commented on #133
I can go ahead and correct the code to abide by the linting rules.

[2020-05-23 00:50] stvtortora commented on #102
Hey @skmgoldin. I see this issue is a bit old, but are you still interested in doing this?

[2020-05-25 14:11] skmgoldin commented on #102
Not really, sorry! Busy with other things now. I also have no idea how used this tokens implementation still is.

What is the nature of your interest in this issue/project?

[2020-08-28 14:05] eervin123 opened #156 "Why isn't totalSupply = _initialAmount * (10 ** uint256(decimals))"
I'm assuming this was done on purpose, but perhaps it would be helpful to add an additional comment at line 33.  I see a number of comments on the web where people are minting their tokens and can't understand why the total supply isn't what they expected it to be when they check etherscan.

Here is an example.
https://ethereum.stackexchange.com/questions/62830/token-totalsupply-displaying-zero-at

[2021-01-02 04:30] anupam-io opened #157 "Facing error while installing in Ubuntu 20.04.1"
Unable to install this package. `npm install` is giving the following error:<pre>make: *** [sha3.target.mk:107: Release/obj.target/sha3/src/addon.o] Error 1
make: Leaving directory &apos;/home/pam/Documents/Tokens/node_modules/sha3/build&apos;
<span style="background-color:#2E3436"><font color="#D3D7CF">gyp</font></span> <span style="background-color:#2E3436"><font color="#CC0000">ERR!</font></spa

[2021-09-18 10:42] Mashka4a opened #163 "Token"
Кто нибудь знает как создать токен?))

[2021-11-22 08:50] MatthieuScarset commented on #157
Seems this issue existed on Ubuntu 16.04 too. Apparently, there [this thread solved on Stack Overflow](https://stackoverflow.com/questions/45532688/compiling-error-with-sha3-ethereum-mist).

[2021-12-26 06:21] albertp315 opened #166 "5000"
https://github.com/ConsenSys/Tokens/blob/00e68e87cec0270616ff9964330325d0f1ade256/contracts/eip20/EIP20.sol#L33

[2022-02-17 21:01] ostapenko93 commented on #163
Да )

[2022-02-18 11:26] #157 closed, assigned to nobody

[2022-05-22 05:58] Adicz345 opened #176 "0"

[2022-11-28 09:11] DODIRACHMADI commented on #166
https://github.com/mozilla/inclusion/blob/f887bc3932bb5dc72ee0bd0bda3985266bdb5be4/CODE_OF_CONDUCT.md